/* Mobile First */

body {
    font-family: 'Open Sans', sans-serif;
}

body a {
    text-decoration: none;
    padding: 10px;
}

.navbar {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

.navbar a {
    color: rgb(34, 17, 61);
    font-weight: 500;
}

.home-btn {
    display: none;
}

.email-btn {
    background-color: rgb(36, 38, 39);
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 5px;
}

.nav-right .email-btn {
    color: rgb(161, 255, 177);
    font-weight: 500;
}

.page-container {
    font-family: 'Merriweather', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-img {
    width: 100%;
    min-width: 990px;
    background-image: url(/images/clement-helardot-95YRwf6CNw8-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(250, 244, 244, 0.575);
}

.overlay {
    background-color: rgba(240, 255, 255, 0.473);
    width: 100%;
    min-width: 990px;

}

.q-grid {
    display: grid;
    width: 70%;
    grid-template-columns: 80px 500px;
    padding-top: 20px;
    gap: 15px 0;
    align-items: center;
}

.qualification a {
    padding: 0;
    color: black;
    text-emphasis: bold;
}


.grid-icon {
    justify-self: center;
}

.profile-pic {
    border: 5px solid rgb(14, 58, 75);
    height: 30vh;
    overflow: hidden;
    border-radius: 50%;
    margin: 10px 40px -70px 200px;
}

h1, h2, h3, h4, h6 {
    padding-top: 10px;
}

.introduction h2 {
    margin-bottom: 0;
}

.introduction h1 {
    line-height: 1.5;
    font-size: 54px;
}

.connect {
    margin-top: 20px;
    font-size: 18px;
}

footer {
    background-color: rgb(255, 250, 245);
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.267);
    height: 10vh;
}

.coding-temple {
    width: 50px;
    border-radius: 50%;
}

.academind {
    width: 70px;
    border-radius: 10px;
}


/* for desktop */
@media only screen and (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .navbar {
        font-size: 1.5rem;
    }

    .home-btn {
        font-size: 2rem;
        font-weight: 900;
        margin-right: 5px;
    }

    
}